<div id="git"></div>
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    id: '<%= page.date %>',
    owner: "Catty2014",
    repo: "Catty2014.github.io",
    oauth: {
    client_id: "126adb1056fb6218314f",
    client_secret: "6964430ab40b4c4e21c0bb4ff1e406419d57d33f",
    },
})
gitment.render('git')
</script>
